$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1220px
);

$spacer: 1rem;
$spacers: (
  0: 0,               // 0
  1: $spacer * .25,   // 4px
  2: $spacer * .5,    // 8px
  3: $spacer * .75,   // 12px
  4: $spacer,         // 16px
  5: $spacer * 1.25,  // 20px
  6: $spacer * 1.5,   // 24px
  7: $spacer * 2,     // 32px
  8: $spacer * 2.5,   // 40px
);

@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-utilities.scss';